#root,
body,
html {
  height: 100%;
  background: url("./assets/bg.jpg") no-repeat;
  background-size: cover;
  color: white;
}
.page-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.page-body {
  display: flex;
  flex: 1;
  align-items: center;
}
.content-container {
  font-size: 28px;
  padding: 50px;
  border: 1px solid green;
  max-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.illustration-container {
  flex-grow: 2;
}
