#root,
body,
html {
  height: 100%;
  background: url("./assets/bg.jpg") no-repeat;
  background-size: cover;
  color: white;
}
.page-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.page-body {
  display: flex;
  flex: 1;
  align-items: center;
}
.content-container {
  flex-grow: 2;
}
.illustration-container {
  flex-grow: 2;
}
